{% extends 'source/base.html' %}
{% block body %}
{% block body2 %}

<!-- Modal Edit Department-->

{#<div id="modaledit"#}
{#     class="modal fade"#}
{#     role="dialog"#}
{#     tabindex="-1"#}
{#     aria-labelledby="exampleModalLabel"#}
{#     aria-hidden="true">#}
{#   <div class="modal-dialog">#}
{#      <div class="modal-content">#}
{#         <div class="modal-header  bg-light">#}
{#            <h4 class="modal-title">Edit department</h4>#}
{#             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#         </div>#}
{#         <div class="modal-body">#}
{#            <form action="{{url_for('update')}}" method="POST">#}
{#               <div class="form-group">#}
{#                  <label>Name:</label>#}
{#                  <input type="text" class="form-control" name="name" required="1">#}
{#               </div>#}
{#                <p></p>#}
{#                <div class="modal-footer-fluid">#}
{#                    <div class="container-fluid">#}
{#                        <div class="row">#}
{#                            <div class="col float-start">#}
{#                                 <button class="btn btn-primary float-start" type="submit">Add new department</button>#}
{#                            </div>#}
{#                            <div class="col float-end">#}
{#                                 <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal">Close</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#         </div>#}
{#      </div>#}
{#   </div>#}
{#</div>#}
{% endblock %}
{% endblock %}